{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<section class="container col-md-8 col-xl-6 bg-light py-5 px-4 custom-form mb-3">
  <form method="post">
      {% if error %}
          <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}

      {% if app.user %}
          <div class="mb-3">
            <p>Vous êtes connecté: {{ app.user.userIdentifier }} </p>
            <a href="{{ path('app_logout') }} class="btn btn-lg btn-primary"">Se déconnecter</a>
          </div>
      {% else %}
          <h1 class="h3 mb-3 font-weight-normal">S'il vous plaît, identifiez-vous</h1>
          <label for="inputEmail">Email</label>
          <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
          <label for="inputPassword">Mot de passe</label>
          <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

          <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
          >

          <button class="btn btn-lg btn-primary" type="submit">
              Se connecter
          </button>

      {% endif %}
  </form>

  <a href="{{ path('app_forgot_password_request') }}">J'ai oublié mon mot de passe</a>
</section>

{% endblock %}
