{% extends 'base.html.twig' %}

{% block title %}Partner index{% endblock %}

{% block body %}
    <h1>Partner index</h1>
    <div class="table-responsive">
      <table class="table">
          <thead>
              <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Address</th>
                  <th>Permissions</th>
                  <th>Active</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
          {% for partner in partners %}
              <tr>
                  <td>{{ partner.id }}</td>
                  <td>{{ partner.Name }}</td>
                  <td>{{ partner.Email }}</td>
                  <td>{{ partner.Address }}</td>
                  <td>
                    {% for permission in partner.permissions %}
                      <span class="btn btn-sm btn-warning">{{ permission.name }}</span>
                    {% endfor %}
                  </td>
                  <td>{{ partner.Active ? '
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                    </div>
                  ' : '
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                    </div>
                  ' }}</td>
                  <td>
                      <a href="{{ path('app_partner_show', {'id': partner.id}) }}">Voir plus</a>
                      <a href="{{ path('app_partner_edit', {'id': partner.id}) }}">Modifier</a>
                  </td>
              </tr>
          {% else %}
              <tr>
                  <td colspan="6">no records found</td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>
    <br />
    <a href="{{ path('app_partner_new') }}">Ajouter une nouvelle Structure</a>
    <br />
    <a href="{{ path('app_franchise_index') }}">Liste de Franchises</a>
    <br />
    <a href="{{ path('app_permission_index') }}">Liste de Permissions</a>
    <br />
    <a href="{{ path('app_dashboard') }}">Page d'accueil</a>
    <br />
    <button type="button" class="btn btn-secondary"
        data-bs-toggle="tooltip" data-bs-placement="top"
        data-bs-custom-class="custom-tooltip"
        data-bs-title="This top tooltip is themed via CSS variables.">
  Custom tooltip
</button>

<script>
const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>

{% endblock %}
