<nav class="navbar navbar-expand-lg bg-primary px-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_dashboard') }}">Today Fit</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      {% if app.user and app.user.roles[0] == "ROLE_ADMIN" %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_franchise_index') }}">Franchises</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('app_partner_index') }}">Structures</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('app_permission_index') }}">Permissions</a>
        </li>
      {% endif %}
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0 align-items-center">
        <li class="nav-item dropdown">
          {{ app.user ? app.user.userIdentifier : 'Please Login' }}
        </li>
        <li class="nav-item dropdown">
          <button type="button" class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle show" data-bs-toggle="dropdown" aria-expanded="true" data-bs-display="static">
            <i class="bi bi-person-circle mx-2 text-dark" style="font-size: 2rem;"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end" data-bs-popper="static">
            {% if app.user %}
              <li><a href="{{ path('app_logout') }}" class="dropdown-item">Logout</a></li>
              <li><a href="{{ path('app_register') }}" class="dropdown-item">Register</a></li>
              <li><a href="{{ path('app_user_index') }}" class="dropdown-item">User Dashboard</a></li>
            {% else %}
              <li><a href="{{ path('app_login') }}" class="dropdown-item">Login</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>