<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <style>
          /* Elemento Checkbox, cuando está marcado */
          form fieldset{
            color: green;
            border: 1px solid #ced4da;
            border-radius: 15px;
            padding: 10px;
          }
          #partner_permissions {
            display: flex;
          }
          #partner_permissions input[type="checkbox"]{
              visibility: hidden;
          }
          #partner_permissions input[type="checkbox"] + label {
              background-color: white; /* Green */
              border: 1px solid #ced4da;
              color: #ced4da;
              padding: 5px 10px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              border-radius:5px;
          }
          #partner_permissions input[type="checkbox"]:checked + label {
              background-color: #4CAF50; /* Green */
              border: none;
              color: white;
          }
        </style>
    </head>
    <body>

          {# Header #}
          <div class="container-fluid bg-warning text-center py-1"><i>Ce site web est une site de démonstration</i></div>
          {{ include('_nav.html.twig') }}

          {# Messages #}
          <div class="container mt-3">
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }} 
                </div>
            {% endfor %}
          </div>

          {# Main Content #}
          <section class="container mt-3">
              {% block body %}{% endblock %}
          </section>

        {# Footer #}
        {{ include('_footer.html.twig') }}
    </body>
</html>
