<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Bienvenue chez TODAYFIT!{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('icon.png') }}" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

         {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body data-theme="light">
          {% dump('test') %}
          {# Header #}
          <div class="container-fluid bg-warning text-center py-1"><small><i>Ce site web est un site demo</i></small></div>
          {{ include('_nav.html.twig') }} 

          {# Messages #}
          <div class="container mt-3">
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }} 
                </div>
            {% endfor %}
          </div>

          {# Main Content #}
          <section class="container mt-3">
              {% block body %}{% endblock %}
          </section>

        {# Footer #}
        {{ include('_footer.html.twig') }}
    </body>
</html>
