{% extends 'base.html.twig' %}

{% block title %}Permission index{% endblock %}

{% block body %}
<div class="container">
    {# Header section #}
    <section class="d-flex flex-row justify-content-between align-items-center">
      <h1>Permissions</h1>
      <a href="{{ path('app_permission_new') }}" class="btn btn-danger">Nouvelle Permission</a>
    </section>
    {# Header section #}
    <div class="table-responsive">
      <table class="table">
          <thead>
              <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Image</th>
                  <th>actions</th>
              </tr>
          </thead>
          <tbody>
          {% for permission in permissions %}
              <tr>
                  <td>{{ permission.id }}</td>
                  <td>{{ permission.name }}</td>
                  <td>{{ permission.image }}</td>
                  <td>
                      <a href="{{ path('app_permission_show', {'id': permission.id}) }}" class="btn btn-sm btn-outline-success">Voir détails</a>
                      <a href="{{ path('app_permission_edit', {'id': permission.id}) }}" class="btn btn-sm btn-outline-info">Modifier</a>
                  </td>
              </tr>
          {% else %}
              <tr>
                  <td colspan="3">Il n'y a pas de permissions</td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>
</div>
{% endblock %}
