{% extends 'base.html.twig' %}

{% block title %}Permission index{% endblock %}

{% block body %}
<div class="container col-lg-8">
    {# Header section #}
    <section class="d-flex flex-column flex-md-row justify-content-between align-items-center">
      <h1 class="col-12 text-center text-md-start col-md-6">Permissions</h1>
      <a href="{{ path('app_permission_new') }}" class="btn btn-danger col-12 col-md-6 col-xl-4">Nouvelle Permission</a>
    </section>
    {# Header section #}

    <article class="table-responsive">
      <table class="table">
          <thead>
              <tr>
                  <th>Id</th>
                  <th>Nom</th>
                  <th>Image</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
          {% for permission in permissions %}
              <tr>
                  <td>{{ permission.id }}</td>
                  <td>{{ permission.name }}</td>
                  <td>
                    <img src="{{ permission.image }}" alt="Today Fit Permission" width="20px" class="">
                  </td>
                  <td>
                      <a href="{{ path('app_permission_edit', {'id': permission.id}) }}" class="btn btn-sm btn-outline-info">Modifier</a>
                  </td>
              </tr>
          {% else %}
              <tr>
                  <td colspan="3">Il n'y a pas de permissions</td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
    </article>
</div>
{% endblock %}
