{# this form theme will be applied only to the form of this template #}
{# {% form_theme form 'bootstrap_5_layout.html.twig' %} #}

{{ form_start(form) }}
    {# {{ form_widget(form) }} #}
    {# <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button> #}

    <div class="row d-flex flex-wrap justify-content-between">
      <div class="col-9 col-lg-6 col-xl-7">
          {{ form_widget(form.input_data) }}
      </div>
      <div class="col-3 col-lg-2" id="search_partner">
          {{ form_widget(form.active) }}
      </div>
      <div class="col-9 col-lg-2">
          {{ form_widget(form.Chercher) }}
      </div>
      <div class="col-3 col-lg-2 col-xl-1">
        <a class="btn btn-outline-danger btn-reset" href="{{ path('app_my_franchise_show') }}"><b>X</b></a>
      </div>
      {{ form_rest(form) }}
    </div>

{{ form_end(form) }}
