{% extends 'base.html.twig' %}

{% block title %}Franchise index{% endblock %}

{% block body %}
    {# Header section #}
    <section class="d-flex flex-row justify-content-between align-items-center">
      <h1>Franchisés</h1>
      <a href="{{ path('app_franchise_new') }}" class="btn btn-danger">Nouvelle Franchise</a>
    </section>
    {# Header section #}

    {# Tab section #}
    <section class="container-fluid">

      {# Tab navigation #}
      <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Accueil</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Vue en table</button>
        </li>
      </ul>
      {# Tab navigation #}
      
      {# Tab Content #}
      <div class="tab-content" id="myTabContent">
          
        {# < Card section #}
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <section class='container card-section my-5'>
          <div class="row">
            <div class='d-flex flex-column flex-md-row justify-content-md-between align-items-center mb-4'>
              <div class='d-flex flex-column flex-lg-row'>
                <h2 class="fw-bold lh-1 mb-0 mb-md-0 me-md-3 text-uppercase mb-2">MES CLUBS</h2>
                <h2 class="fw-bold lh-1 mb-4 mb-sm-0 text-uppercase strokeme">TODAYFIT</h2>
              </div>
              <div class="d-flex flex-column flex-lg-row align-items-center">
                <form class="d-flex flex-row align-items-center gap-3">
                  <div class="form-check form-switch ">
                    <input class="form-check-input" type="checkbox" id="switchActive" />
                    <label class="form-check-label" for="switchActive">Actives</label>
                  </div>
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                  <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div>
            </div>
            {% set link = "/franchise/show/" %}
            {% for franchise in franchises %}
              {{ include('franchise/_card.html.twig', {
                'button_label': 'Go!',
                'id': franchise.id,
                'email': franchise.email,
                'name' : franchise.name,
                'permissions' : franchise.permissions,
                'image': franchise.image,
                'description': franchise.description,
                'link': link
                }) }}
            {% endfor %}

          </div>
        </section>
        </div>
        {# > Card section #}

        
        {# < Table section #}
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
          <section class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Permissions</th>
                  <th>Active</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for franchise in franchises %}
                  <tr>
                    <td>{{ franchise.id }}</td>
                    <td>{{ franchise.Name }}</td>
                    <td>{{ franchise.Email }}</td>
                    <td>
                      {% for permission in franchise.permissions %}
                        <span class="btn btn-sm btn-warning">{{ permission.name }}</span>
                      {% endfor %}
                    </td>
                    <td>{{ franchise.Active ? 'Yes' : 'No' }}</td>
                    <td>
                        <a href="{{ path('app_franchise_show', {'id': franchise.id}) }}" class="btn btn-sm btn-outline-success">Voir détails</a>
                        <a href="{{ path('app_franchise_edit', {'id': franchise.id}) }}" class="btn btn-sm btn-outline-info">Modifier</a>
                    </td>
                  </tr>
                {% else %}
                  <tr>
                    <td colspan="5">no records found</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </section>
        </div>
        {# > Table section #}
        
      </div>
      {# Tab Content #}

    </section>
    {# Tab section #}

{% endblock %}
