{% extends 'base.html.twig' %}

{% block title %}Franchises{% endblock %}

{% block body %}
    {# Header section #}
    <section class="d-flex flex-row justify-content-between align-items-center">
      <h1>Franchises</h1>
      <a href="{{ path('app_franchise_new') }}" class="btn btn-danger">Nouvelle Franchise</a>
    </section>
    {# Header section #}

    {# Tab section #}
    <section class="container-fluid">

      {# Tab navigation #}
      <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Accueil</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Vue en table</button>
        </li>
      </ul>
      {# Tab navigation #}
      
      {# Tab Content #}
      <div class="tab-content" id="myTabContent">
          
        {# < Card section #}
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
          
          {# < Card Content section #}
          <section class='container card-section my-5'>
            <div class="row">
              <div class='d-flex flex-column flex-xl-row justify-content-md-between align-items-center mb-4'>
                
                <div class='d-flex col-12 col-lg-5 flex-sm-row justify-content-center justify-content-lg-start mb-sm-2 mb-md-3 mb-xl-0'>
                  <h2 class="fw-bold lh-1 mb-0 me-md-3 text-uppercase mb-2 me-4">MES CLUBS</h2>
                  <h2 class="fw-bold lh-1 mb-4 mb-sm-0 text-uppercase strokeme">TODAYFIT</h2>
                </div>
                <div class="col-12 col-xl-7 form-search">
                  {{ include('franchise/_formSearch.html.twig') }}
                </div>

              </div>
              {% set link = "/franchise/show/" %}
              {% for franchise in franchises %}
                {{ include('franchise/_card.html.twig', {
                  'button_label': 'Go!',
                  'id': franchise.id,
                  'email': franchise.user.email,
                  'name' : franchise.name,
                  'permissions' : franchise.permissions,
                  'image': franchise.image,
                  'description': franchise.description,
                  'link': link
                  }) }}
              {% else %}
                <div class="alert alert-danger" role="alert">
                  Il n'y a pas de resultat pour votre recherche
                </div>
              {% endfor %}
            </div>
          </section>
          {# > Card Content section #}
          
          {# < Pagination section #}
          {% if filtered == false %}
          <nav class="d-flex justify-content-center">
            <ul class="pagination">
              {% if page != 1 %}
              <li class="page-item">
                <a class="page-link" 
                  href={{ path('app_franchise_index', {page: page - 1,qty: qty}) }} 
                >Précédent</a>
              </li>
              {% endif %}
              {% for i in range(1, qtyPages) %}
                <li class="page-item">
                  <a 
                    class="{{ i == page ? "active page-link" : "page-link" }}"
                    href={{ path('app_franchise_index', {page: i,qty: qty}) }}
                  >
                    {{ i }}
                  </a>
                </li>
              {% endfor %}
              {% if page != qtyPages %}
                <li class="page-item">
                  <a 
                    class="page-link" 
                    href="{{ path('app_franchise_index', {page: page + 1,qty: qty}) }}" 
                  >Suivant</a>
                </li>
              {% endif %}
            </ul>
          </nav>
          {% endif %}
          {# > Pagination section #}


        </div>
        {# > Card section #}

        
        {# < Table section #}
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
          <section class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Nom</th>
                  <th>Email</th>
                  <th>Structures</th>
                  <th>Permissions</th>
                  <th>Active</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for franchise in allFranchises %}
                  <tr>
                    <td>{{ franchise.id }}</td>
                    <td>{{ franchise.Name }}</td>
                    <td>{{ franchise.Email }}</td>
                    <td>
                      {% for partner in franchise.partner %}
                        <span class="btn btn-sm btn-outline-danger">{{ partner.name }}</span>
                      {% endfor %}
                    </td>
                    <td>
                      {% for permission in franchise.permissions %}
                        <span class="btn btn-sm btn-warning">{{ permission.name }}</span>
                      {% endfor %}
                    </td>
                    <td>{{ franchise.Active ? 'Yes' : 'No' }}</td>
                    <td>
                        <a href="{{ path('app_franchise_show', {'id': franchise.id}) }}" class="btn btn-sm btn-outline-success">Voir détails</a>
                        <a href="{{ path('app_franchise_edit', {'id': franchise.id}) }}" class="btn btn-sm btn-outline-info">Modifier</a>
                    </td>
                  </tr>
                {% else %}
                  <tr>
                    <td colspan="5">no records found</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </section>
        </div>
        {# > Table section #}
        
      </div>
      {# Tab Content #}

    </section>
    {# Tab section #}

{% endblock %}
