{% extends 'base.html.twig' %}

{% block title %}Franchise index{% endblock %}

{% block body %}
    <h1>Franchise index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Permissions</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for franchise in franchises %}
            <tr>
                <td>{{ franchise.id }}</td>
                <td>{{ franchise.Name }}</td>
                <td>{{ franchise.Email }}</td>
                <td>
                  <span>
                  {% for permission in franchise.permissions %}
                    | {{ permission.name }} </span>
                  {% endfor %}
                  |
                  </span>
                </td>
                <td>{{ franchise.Active ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_franchise_show', {'id': franchise.id}) }}">Voir plus</a>
                    <a href="{{ path('app_franchise_edit', {'id': franchise.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br />
    <a href="{{ path('app_franchise_new') }}">Ajouter une nouvelle Franchise</a>
    <br />
    <a href="{{ path('app_partner_index') }}">Liste des Structures</a>
    <br />
    <a href="{{ path('app_permission_index') }}">Liste de Permissions</a>
    <br />
    <a href="{{ path('app_dashboard') }}">Page d'accueil</a>
    <br /> 

{% endblock %}
