{% extends 'base.html.twig' %}

{% block title %}Franchise{% endblock %}

{% block body %}
{% if franchise != null %}
  <section class="container col-md-8 col-xl-6 border border-primary py-4 px-4 custom-form">

    {% if is_granted("ROLE_ADMIN") %}

        <div class="d-flex flex-row align-items-center justify-content-between">
          <h1 class="text-center">{{ franchise.Name }}</h1>
          
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Supprimer Franchise
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Etes-vous sûre?</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  {% if partnersCount > 0 %}
                    <p class="delete-btn">Suppression non disponible</p>
                    <p class="delete-btn"><i>La Franchise {{ franchise.Name }} a {{ partnersCount }} Structures. Vous ne pouvez pas supprimer une Franchise avec des Structures asignées.</i></p>
                  {% else %}
                    {{ include('franchise/_delete_form.html.twig') }}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>

    {% else %}
      <div class="text-center">
        <h1>{{ franchise.Name }}</h1>
      </div>
    {% endif %}
    <div class="overflow image-container text-center partner-card-container mb-2">
      <img src="{{ franchise.image }}" alt="Today Fit Franchise" width="350px" class="partner-card-show">
    </div>

    <article class="partner-show-article">
      <div class="d-flex border-bottom p-1">
        <p class="partner-show-fields"><b>Id:</b></p>
        <p>{{ franchise.id }}</p>
      </div>
      <div class="d-flex border-bottom p-1">
        <p class="partner-show-fields"><b>Nom:</b></p>
        <p>{{ franchise.Name }}</p>
      </div>
      <div class="d-flex border-bottom p-1">
        <p class="partner-show-fields"><b>Email:</b></p>
        <p>{{ franchise.user.Email }}</p>
      </div>

      <div class="d-flex border-bottom p-1">
        <p class="partner-show-fields"><b>Active:</b></p>
        {% if franchise.Active %}
          <span class="border border-success bg-success text-white px-2 py-1 rounded text-success">Oui</span>
        {% else %}
          <span class="border border-danger bg-danger text-white px-2 py-1 rounded text-danger">Non</span>
        {% endif %}
      </div>
      <div class="border-bottom p-1">
        <p class="partner-show-fields col-12"><b>Permissions:</b></p>
        <div class="row justify-content-center">
          {% for permission in franchise.permissions %}
            <small class="col-5 text-center border border-success bg-success text-white px-2 py-1 m-1 rounded"> {{ permission.name }} </small>
          {% endfor %}
        </div>
      </div>
    </article>

    {% if is_granted("ROLE_ADMIN") %}
      <section class="container d-grid gap-2 col-xl-6 mt-3">
        <a href="{{ path('app_franchise_edit', {'id': franchise.id}) }}" class="btn btn-primary">Modifier</a>
        <a href="{{ path('app_franchise_index') }}" class="btn btn-warning">Liste des Franchises</a>
      </section>
    {% endif %}
      
  </section>

  <section class="container border border-primary py-4 px-4  mt-3 mb-5">
    {# < Card Content section #}
    <section class='container card-section my-5'>
      <div class="row d-flex justify-content-center">
        <div class='d-flex flex-column flex-xl-row justify-content-center align-items-center mb-4'>
          <div class='d-flex col-12 col-xl-5 flex-sm-row justify-content-center justify-content-xl-start mb-sm-2 mb-md-3 mb-xl-0'>
            <h2 class="fw-bold lh-1 mb-0 me-md-3 text-uppercase mb-2 me-4 fs-1">MES CLUBS</h2>
            <h2 class="fw-bold lh-1 mb-4 mb-sm-0 text-uppercase strokeme fs-1">TODAYFIT</h2>
          </div>

        </div>

        {% if is_granted("ROLE_ADMIN") %}
          {% set link = "/structure/show/" %}
        {% else %}
          {% set link = "/franchise/maFranchise/structure/" %}
        {% endif %}

        {% for partner in franchise.partner %}
          {{ include('partner/_card.html.twig', {
            'button_label': 'Go!',
            'id': partner.id,
            'name' : partner.name,
            'permissions' : partner.permissions,
            'image': partner.image,
            'description': partner.description,
            'link': link,
            }) }}
        {% else %}
          <div class="alert alert-danger" role="alert">
            Il n'y a pas de resultat pour votre recherche
          </div>
        {% endfor %}

      </div>
    </section>
    {# > Card Content section #}
  </section>

{% else %}

    <div class="d-flex flex-column text-center">
      <h1 class="">"Vous n'avez pas de Franchise asignée"</h1>
      <h3>Merci de contacter votre responsable de franchise</h3>
    </div>

{% endif %}

{% endblock %}
