{% extends 'base.html.twig' %}

{% block title %}Franchise{% endblock %}

{% block body %}
<section class="container col-md-8 col-xl-6 border border-primary py-4 px-4 custom-form">

    <h1>Franchise</h1>

    <table class="table">
        {# <img src="https://images.pexels.com/photos/7676548/pexels-photo-7676548.jpeg" class="card-img-top" alt="today fit"> #}
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ franchise.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ franchise.Name }}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>{{ franchise.Email }}</td>
            </tr>
            <tr>
                <th>Permissions</th>
                <td>
                  {% for permission in franchise.permissions %}
                    <span>| {{ permission.name }} </span>
                  {% endfor %}
                  |
                </td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ franchise.Active ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <section class="container">
      <a href="{{ path('app_franchise_edit', {'id': franchise.id}) }}" class="btn btn-primary">Modifier</a>
      <a href="{{ path('app_franchise_index') }}" class="btn btn-warning">Liste des Franchises</a>
      {{ include('franchise/_delete_form.html.twig') }}
    </section>
    
</section>
{% endblock %}
