{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    {# Header section #}
    <section class="d-flex flex-row justify-content-between align-items-center">
      <h1>Utilisateurs</h1>
      <a href="{{ path('app_register') }}" class="btn btn-danger">Registrer Nouvel Utilisateur</a>
    </section>
    {# Header section #}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>E-mail</th>
                <th>
                  <span class="franchise-title">Franchise</span> 
                  ou 
                  <span class="partner-title">Structure</span></th>
                <th>Roles</th>
                <th>Verifié?</th>
                <th>Password modifié?</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>
                  {% if user.franchise %}
                    <span class="franchise-title">{{ user.franchise.name }} | {{ user.franchise.email }}</span>
                  {% endif %}
                  {% if user.partner %}
                    <span class="partner-title">{{ user.partner.name }} | {{ user.partner.email }}</span>
                  {% endif %}
                </td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td>{{ user.passwordReset ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-sm btn-outline-success">Voir détails</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-sm btn-outline-info">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
